<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- دسترسی به اینترنت برای بررسی سایت‌ها و منابع خبری -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- اجرای سرویس پایش در پس‌زمینه -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- برای سرویس Foreground در نسخه‌های جدید اندروید -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- دریافت رویداد روشن شدن گوشی -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- ویبره -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- برای نمایش اعلان -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_alert"
        android:label="سامانه هشدار تهران"
        android:roundIcon="@drawable/ic_alert"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- سرویس اصلی پایش -->
        <service
            android:name=".AlertService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <!-- اجرای مجدد پایش بعد از روشن شدن گوشی -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

    </application>

</manifest>
